

.grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
  }
  
  .content{
   display: flex;
   flex: wrap;
  }
  .main{
    flex: 3 60rem;
  }
  
  .sidebar{
    flex: 1 20rem;
  }
  
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .products li{
    flex: 1 1 29rem;
    height: 47rem;
    padding: 1rem;
    margin: 1rem;
  }
  
  .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product img{
    max-width: 37rem;
    max-height: 37rem;
  }
  
  .product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price div,
  .product-price button {
    text-align: center;
    flex: 1;
  }
  
  .product-price div{
  font-size: 2rem;
  }
  
  .button{
    padding: 1rem;
    border: 0.1rem; 
    background-color: whitesmoke;
    cursor: pointer;
  
  }
  
  .button:hover{
    border: 0.1rem
  }
  
  .button.primary{
    background-color: pink;
  
  }